
.container {
    display: grid;
    max-width: 500px;
    
}


/* 01 */
.wrapperOne {
    grid-template-columns: 1fr 1fr;
}

/* 02 */
.wrapperTwo {
    grid-template-columns: 1fr 1fr 2fr;
}
.whatever {
    background-color: red;
}
.text {
    background-color: blue;
}
.IWant {
    background-color: yellow;
}

/* 03 */

.gridThree {
    grid-template-rows:  1fr 3fr;
    max-width: 500px;
}
.gridThreeB img {
    object-fit: cover;
    max-width: 500px;
}

/* 04 */

.gridFour {
    background-color: green;
    width: 500px;
}

.gridFour > #gridFourB {
    grid-column: 1 0;
    grid-row: 2;
}

/* 05 */

.gridFiveBase {
    background-color: gray;
}

.gridFivePartA {
    display: grid;
}

.gridFive {
    display: grid;
    grid-column: 1 0;
    grid-row: 2;
}

.gridFive img {
    object-fit: cover;
    width: 200px;
}

/* 06 */

.gridSix {
    grid-template-columns: 1fr 3fr;
    background-color: lightgray;
    width: 500px;
}
.sixB p {

    font: 0.83rem "Sixtyfour Convergence", serif;
}
